<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Building Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')"
        >Add Building <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        type="search"
        (ngModelChange)="searchBuildings(key.value)"
        #key="ngModel"
        ngModel
        name="key"
        id="searchName"
        class="form-control mr-sm-2"
        placeholder="Search buildings..."
        required
      />
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let building of buildings" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Building No: {{ building.buildingNumber }}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>{{ building.description }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Public Access:
            {{ building.publicAccess }}
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(building, 'edit')"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-original-title="Edit"
            ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="onOpenModal(building, 'delete')"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-original-title="Delete"
            ><i class="fa fa-times"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Building Modal -->
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addBuildingModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addBuildingModal">Add Building</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddBuilding(addForm)">
            <div class="form-group">
              <label for="building.buildingNumber">Building Number</label>
              <input
                type="text"
                ngModel
                name="building.buildingNumber"
                class="form-control"
                id="building.buildingNumber"
                placeholder="Building Number"
                required
              />
              <div class="form-group">
                <label for="building.description">Description</label>
                <input
                  type="text"
                  ngModel
                  name="building.description"
                  class="form-control"
                  id="building.description"
                  placeholder="Description"
                  required
                />
              </div>
              <div class="form-group">
                <label for="building.description">Public Access</label>
                <input
                  type="text"
                  ngModel
                  name="building.publicAccess"
                  class="form-control"
                  id="building.publicAccess"
                  placeholder="Public Access"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="building.buildingNumber">Image URL</label>
              <input
                type="text"
                ngModel
                name="imageUrl"
                class="form-control"
                id="imageUrl"
                placeholder="Image URL"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="add-employee-form"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
